<% provide(:title, 'Thématiques') %>
<h1>Thématiques</h1>
<p class="page-explanation">Quels sujets vous intéressent ?</p>
<div class="vertical-cards">
  <% @thematiques.each do |thematique| %>
    <%= link_to thematique_path(thematique), class: "political-card" do %>
      <div class="card-image">
        <% if thematique.photo.attached? %>
          <%= cl_image_tag thematique.photo.key, class: "zoom", size: "180x180", crop: "pad", gravity: "center" %>
        <% end %>
      </div>
      <div class="card-information">
        <h5><%= thematique.titre %></h5>
      </div>
    <% end %>
  <% end %>
</div>
