// Specific CSS for your home-page
.home-container {
  padding: 1rem;
  margin: 0 auto;
}

.home-wrapper {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-explanation {
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  position: relative;
}

.home-cards {
  margin: 1rem 10vw;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: justify;

  &:hover a {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  height: 200px;
  padding: 1rem;
  transition-property: all;
  transition-duration: 1s;
  text-align: center;
  color: $ourblue;

  h2 {
    transition-property: all;
    transition-duration: 0.3s;
  }

  &:hover {
    box-shadow: 4px 6px 8px rgba(1, 35, 150, 0.3);

    h2 {
      font-size: 2.2rem;
    }
  }
}
