// Specific CSS for your home-page
.home-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  margin: 2rem auto;
}

.home-spacer {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
