// Specific CSS for your home-page
.home-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.7rem;
  margin: 0.7rem auto;
}

@media (min-width: 768px) {
  .home-grid {
    grid-template-columns: 1fr 1fr;
    display: inline-grid;
  }
}

.custom-wrapper {
  min-height: calc(100vh - 100px);
  text-align: justify;
  width: fit-content;
  margin: auto;
}

.content-wrapper {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  div {
    margin: 1rem;
  }
}

.home-search {
  width: 100%;
  text-align: center;
}
