.parti-nom {
  display: flex;
  justify-content: center;

  h2 {
    margin: 0;
  }
}

.line-space {
  margin: 2rem auto;
  width: 135px;
  border-top: 1px dotted;
}

@media (min-width: 768px) {
  .parti-nom {
    white-space: nowrap;
  }
}

.parti-description {
  margin-bottom: 2rem;
}

.personnalite-description {
  text-align: justify;
  font-style: italic;
}
