.parti-nom {
  display: flex;
  justify-content: center;

  h2 {
    margin: 0;
  }
}

.line-space {
  margin: 2rem auto;
  width: 135px;
  border-top: 1px dotted;
}

@media (min-width: 768px) {
  .parti-nom {
    white-space: nowrap;
  }
}

.parti-description {
  margin-bottom: 2rem;
}

.personnalite-description {
  text-align: justify;
  font-style: italic;
}

.personnalite-resume {
  font-size: 1.1rem;
  background-color: rgba(200, 200, 240, 0.2);
  padding: 1rem;
  border-radius: 4px;
  text-align: justify;
}
