<div class="custom-wrapper">
  <div class="content-wrapper">
    <div>
      <p class="home-explanation">La transparence dans la politique en rendant l'information concise, abordable et facile à retrouver.</p>
      <p class="home-explanation">Recherchez l'information par partis, thematiques ou personnalités politiques.</p>
    </div>
    <!-- <div class="home-grid">
      <%#= link_to "Partis Politiques", partis_path, title: "Partis Politiques", class: "custom-button" %>
      <%#= link_to "Thématiques", thematiques_path, title: "Thématiques", class: "custom-button" %>
    </div> -->
  </div>
</div>
