<div class="custom-wrapper">
  <input type="text" placeholder="Que recherchez-vous ?" style="width: 250px; text-align: center">
  <div class="content-wrapper">
    <div class="home-grid">
      <%= link_to "Partis Politiques", partis_path, class: "custom-button" %>
      <%= link_to "Thématiques", thematiques_path, class: "custom-button" %>
    </div>
  </div>
</div>
