<div class="home-container">
  <div class="home-wrapper">
    <h1 class="home-explanation">Politique Française, le premier comparateur des partis politiques français. Notre objectif est de rendre les programmes accessibles, faciles à retrouver et à comparer.</h1>

    <div class="home-cards">
      <%= link_to partis_path do %>
        <div class="home-card">
          <h2>Partis Politiques</h2>
          <p>Vous voulez avoir accès au programme complet d'un parti ? C'est par ici !</p>
        </div>
      <% end %>
      <%= link_to thematiques_path do %>
        <div class="home-card">
          <h2>Thématiques</h2>
          <p>Vous souhaitez comparer les programmes sur un sujet spécifique ? C'est par là !</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
