<div style="min-height: calc(100vh - 120px)">
  <input type="text" placeholder="Que recherchez-vous ?" style="width: 250px; text-align: center">
  <div class="home-spacer">
    <div class="home-grid">
      <%= link_to "Thématiques", thematiques_path, class: "custom-button" %>
      <%= link_to "Partis Politiques", partis_path, class: "custom-button" %>
    </div>
  </div>
</div>
