<% provide(:title, 'Sous-thématiques') %>
<h1>Sous-thématiques</h1>
<div class="cards">
  <% @sous_thematiques.each do |thematique| %>
    <%= link_to sous_thematique_path(thematique), class: "political-card" do %>
      <div class="card-image">
        <%= cl_image_tag sous_thematique.photo.key, class: "zoom", size: "180x180", crop: "pad", gravity: "center" %>
      </div>
      <div class="card-information">
        <h5><%= sous_thematique.titre %></h5>
      </div>
    <% end %>
  <% end %>
</div>

