<% provide(:title, @personnalite.nom) %>
<div class="image-container">
  <%= cl_image_tag @personnalite.parti.photo.key, class: "image-align" %>
</div>
<h1><%= @personnalite.nom %></h1>
<div class="line-space"></div>
  <%= @personnalite.rich_resume %>
<div class="line-space"></div>
<p class="personnalite-description">
  <%= @personnalite.rich_propositions %>
</p>
