.vertical-cards {
  margin: 1rem 10vw;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  justify-content: center;
}

@media (min-width: 768px) {
  .vertical-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.political-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  height: 350px;
  transition-property: box-shadow;
  transition-duration: 1s;
  text-align: center;
  color: $ourblue;
}

h5 {
  transition: font-size 0.4s;
}

.card-image {
  padding: 12px 4px;
}

.card-information {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 10px;
  height: 50px;
  width: 100%;

  h5 {
    font-size: 1.2rem;
    padding: 5px;
    margin-bottom: 0;
  }
  h6 {
    font-size: 12px;
  }

  p {
    font-style: italic;
  }
}

.card-information-personnalite {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 10px;
  height: 120px;
  width: 100%;
  padding: 4px;

  h5 {
    font-size: 1.2rem;
    padding: 5px 0;
    margin-bottom: 0;
  }
  h6 {
    font-size: 12px;
  }

  p {
    font-style: italic;
  }
}

.zoom {
  height: 180px;
  width: 180px;
  transition-property: height, width;
  transition-duration: 0.4s;
}

.political-card:hover {
  box-shadow: 4px 6px 8px rgba(1, 35, 150, 0.3);

  h5 {
    font-size: 1.3rem;
  }

  .zoom {
    height: 190px;
    width: 190px;
  }
}
