.cards {
  margin: 1rem 10vw;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  justify-content: center;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.political-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  word-wrap: break-word;
  background-color: #F9F9F9;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
  height: 282px;

  &:hover {
  text-decoration-color: rgb(1, 35, 150);
  }
}

.card-image {
  padding: 12px 4px;
}

.card-information {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;

  h5 {
    font-weight: bold;
    color: black;
  }
}

.zoom {
  height: 180px;
  width: 180px;
  transition-property: height, width;
  transition-duration: 0.3s;
}

.political-card:hover {
  box-shadow: 3px 5px 8px rgba(1, 35, 150, 0.3);
  .zoom {
    height: 190px;
    width: 190px;
  }
}
