.cards-horizontal {
  margin: 1rem 5vw;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  justify-content: center;
}

.political-card-horizontal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  word-wrap: break-word;
  background-color: #f9f9f9;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

.card-image-political {
  display: flex;
  justify-content: center;
}

.card-information-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: justify;
  font-size: 12px;
  height: 246px;

  & > div {
    box-sizing: border-box;
    padding: 6px;
    overflow: scroll;
    width: 100%;

    & > ul {
      margin-bottom: 0;
      padding-right: 10px;
      padding-left: 20px;
    }
  }
}

@media (min-width: 768px) {
  .political-card-horizontal {
    flex-direction: inherit;
    padding: 1rem;
    height: 220px;
  }

  .card-information-horizontal {
    margin-left: 1rem;
    text-align: left;
    height: 100%;
    font-size: 14px;

    & > div > ul {
      padding-left: revert;
      padding-right: revert;
    }
  }
}
