// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar {
  height: 100px;
  background-color: rgb(154, 167, 188);
  // border-bottom: 0.2px black solid;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 1px 3px 1px lightgray;

  #icon {
    position: absolute;
    top: 20px;
    left: 10px;

    img {
      height: 60px;
    }
  }
}

.pc-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // margin-left: 100px;

  a {
    text-decoration: none;
    color: $ourblue;

    &:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

@media (min-width: 100px) and (max-width: 767px) {
  .pc-links {
    display: none;
  }
}
