.home-explanation {
  font-style: italic;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 2s;
}

.show {
  opacity: 1;
}

.page-explanation {
  font-style: italic;
  text-align: center;
  margin-top: 3rem;
  position: relative;
}
